/* -------------- MAIN.CSS -----------------*/
html{
	height: 100%;
}

body {
	background: #cfd6d9;
	margin: 0;
	height: 100%;
	font-family: calibri;
}

.mainBody {
	width: 1000px;
	margin: 0 auto;
}

header {
	margin: 0;
	width: 100%;
}

header h1 {
	background: white;
	margin: 0;
	padding: 40px 25px 5px 25px;
}

h2 {
	padding: 0 40px;
}

h3 {
	margin: 5px;
	padding: 0 10px;
}

nav {
	background: #4191ce;
	width: 100%;
	margin: 0;
	padding: 0;
}

.headerBody {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}


nav ul {
	background: #4191ce;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 5px 10px;
	font-size: 18pt;
	color: white;
	border-radius: 10px;
	transition: .5s;
}

a {
	color: white;
	transition: .5s;
	float: left;
	border-radius: 10px;
}

nav a:link {
	text-decoration: none;
	padding: 0px;
}

a:link {
	text-decoration: none;
	margin: 0;
	padding: 5px;
}

a:hover {
	background-color: white;
	color: black;
}

nav ul li:hover {
	background-color: white;
	color: black;
}


nav ul a:hover {
	background-color: transparent;
	color: black;
}


.currPage:hover {
	background: #0f4ca3;
	color: white;
}


nav a {
	float: none;
}


.gamePreview {
	float: left;
	margin: 0 10px 0 0;
	height: 100px;
}

p { 
	margin: 10px;
	padding: 0 10px;
}

.game {
	margin: 20px;
}

.breakout {
	background: #fff;
	display: block;
	margin: 0 auto;
}

.currPage {
	background: #0f4ca3;
}

.mainContent {
	background: #4191ce;
	float: left;
	margin: 0px;
	width: 100%;
	padding: 10px 0;
	border-radius: 10px;
	color: white;
}

.subContent {
	background: #eaeaea;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	height: 100px;
	color: black;
}

.artContent {
	position: relative;
	left: 10px;
	background: #eaeaea;
	float: left;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	width: 110px;
	height: 210px;
	color: black;
}

.counterContainer {
	margin: 10px;
	background: #4191ce;
	float: left;
	border-radius: 10px;
	padding: 10px;
	width: 95%;
}

.counter {
	margin: 10px;
	background: #eaeaea;
	float: left;
	border-radius: 10px;
	padding: 5px;
	width: 200px;
	height: 100px;
	overflow: hidden;
}

.counterName {
	text-align: center;
}

.counterVal {
	background: white;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	margin: 5px;
}

.mod {
	display: inline-block;
	padding: 5px 16px;
}

.mod:hover {
	background: white;
	border-radius: 10px;
}

.mod:active {
	background: #dedede;
	border-radius: 10px;
}

.addCounter {
	text-align: center;
}

.fade {
	background: white;
	position: relative;
	top: -100px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 0;
	transition: .5s;
}

.fade:hover {
	opacity: .6;
}

footer {
	clear: both;
	padding: 10px 0;
	margin: 20px;
	text-align: center;
}